.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #002f34;
    z-index: 100;
    width: 100%;
    font-family: inherit;
    font-weight: 700;
    color: white;
}

.logo {
    background-color: #002f34;
    border-color: #002f34;
}

h1 {
    color: white;
}

.header__logo {
    object-fit: contain;
    height: 100px;
    margin-left: 20px;
}

.header__center {
    display: flex;
    flex: 1;
    align-items: center;
    max-width: fit-content;
    padding: 10px;
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 999px;
}


.header__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25vw;
    margin-right: 50px;
}



.search__button {
    border-radius: 15px;
    width: 20vh;
    border-color: black;
    background-color: white;
    color: black;
    font-weight: bold;
}

    .search__button:hover {
        background-color: rgb(237, 149, 41);
        color: rgb(237, 149, 41);
        border: 2px white solid;
        animation-name: animacja;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }

.log__button {
    border: none;
    width: 120px;
    height: 30px;
    margin-left: 20px;
    background-color: #f2f4f5;
    border: 2px solid white;
    font-weight: bold;
}

    .log__button:hover {
        background-color: rgb(237, 149, 41);
        animation-name: animacja;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-direction: reverse;
    }

    .log__button::after {
        animation-name: animacja2;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }


@keyframes animacja {
    from {
        background-color: #f2f4f5;
        color: black;
    }

    to {
        background-color: #002f34;
        color: white;
    }
}
